{% extends "takeout/customer_base.html" %}

{% block title %} {{user.first_name}}'s Past Orders {% endblock %}

{% block content %}

  {% for order, meals in orders %}
  <div class="valign-wrapper row">
    <div class="col card hoverable s12 m12 l8 pull-l2">
      <div class="card-content">
        <div class="row vertical-align">
          <span class="card-title col s12"><strong>Order Status:</strong> {{ order.status }}</span>
          <span class="card-title col s12"><strong>Total:</strong> ${{ order.total_amount }}</span>
        </div>
        {% for meal in meals %}
          <ul class="collection with-header">
            <li class="collection-header">
              <h5>{{ meal.vendor_meal.meal_detail }}</h5>
            </li>
            <li class="collection-item">
              <span>Vendor: {{ meal.vendor_meal.vendor.company_name }}</span>
            </li>
            <li class="collection-item">
              <span>Meal Type: {{ meal.vendor_meal.meal_type }}</span>
            </li>
            <li class="collection-item">
              <span>Meal Price: ${{ meal.vendor_meal.price }}</span>
            </li>
            <li class="collection-item">
              <span>Meal Quantity: x {{ meal.quantity }}</span>
            </li>
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

{% endblock %}