{% extends "takeout/customer_base.html" %}

{% block title %} Restaurants {% endblock %}

{% block content %}
  {% for vendor in vendors %}
    <div class="valign-wrapper row">
      <div class="col card hoverable s12 m12 l8 pull-l2 center-align">
        <a href={% url 'menu_detail' vendor.vendor_id %}
        class="black-text">
          <div class="card-content">
            <div class="row">
              <span class="card-title col s12"><strong>{{ vendor.company_name }}</strong></span>
              <!--<span class="col s4 flow-text">98 Left</span>-->
              <!-- no field in VendorProfile corresponds to this so it is
              left out temporarily -->
            </div>
            <div class="row">
              <div class="col s12">
                <span><strong>Pickup Location:</strong> {{ vendor.parking_location }}</span>
              </div>
              <div class="col s12">
                <span><strong>Opening Hour:</strong> {{ vendor.time_slot }}</span>
              </div>
              <div class="col s12">
                <span><strong>Vehicle:</strong> {{ vendor.car }}</span>
              </div>
              <div class="col s12">
                <span><strong>Now Serving:</strong></span>
                  {% for meal in meals %}
                    {% if meal.vendor == vendor %}
                    {{ meal.meal_detail }} &nbsp; &nbsp;
                    {% endif %}
                  {% endfor %}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  {% endfor %}

{% endblock %}