{% extends "takeout/customer_base.html" %}

{% block title %} {{vendor.company_name}}'s Menu {% endblock %}

{% block content %}
  <div class="container center-align">
    <div class="col">
      <h3>{{ vendor.company_name }}</h3>
    </div>
    <div class="col">
      <h5>Location: {{ vendor.parking_location }}</h5>
      <h5>Time: {{ vendor.time_slot }}</h5>
    </div>
  </div>
  {% for meal in meals %}
    <div class="row valign-wrapper">
      <div class="col card hoverable s12 m12 l8 pull-l2">
        <div class="row valign-wrapper">
          <div class="card-image col s6">
            <img src="{% url 'mealPic' meal.id %}" style="padding-top: 20px; padding-left: 15px;">
          </div>
          <div class="card-content col s6">
            <span class="card-title col s12"><strong>{{ meal.meal_type }} {{ meal.meal_name }} ${{ meal.price }}</strong></span>
            <span class="card-subtitle col s12"> {{ meal.meal_detail }} </span>
            <span class="col s12"><i>with</i> {{ meal.drink }}</span>
          </div>
        </div>

        <div class="card-action right-align">
          <form method="post" action="{% url 'add_to_cart' vendor_id=vendor.vendor_id meal_id=meal.pk %}">
            <div class="valign-wrapper row">
              <div class="col s2">
                <input id="meal-quantity" type="number" name="quantity" class="validate" min="1" max="{{meal.avail_quantity}}" step="1" value="1">
              </div>
              <div class="col s4"></div>
              <button type="submit" class="btn red accent-2 waves-effect waves-light col s6" >Add to Cart</button>
            </div>

            {% csrf_token %}
          </form>

        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}