{% extends "takeout/customer_base.html" %}
{% load qr_code %}

{% block title %} Qr Code Page {% endblock %}

{% block content %}

  <div class="row">
    <div class="col s6 push-s3 center-align">
      <div class="card green center-align">
        <div class="card-content white-text">
          <span class="card-title">Your Order Qr Code</span>
          <p>Please show vendor the Qr Code when you pick up your food!</p>
          <img src="{% qr_url_from_text order %}" alt=order>
        </div>
      </div>
    </div>
  </div>

{% endblock %}