{% extends "takeout/customer_base.html" %}
{% load mathfilters %}

{% block title %} LotusPond {% endblock %}

{% block content %}

  <div class="center-align row">
    <h4>{{user.first_name}}'s Shopping Cart</h4>
  </div>
  {% for meal in meals %}
    <div class="valign-wrapper row">
      <div class="col card hoverable s12 m12 l8 pull-l2">
        <div class="card-content">
          <div class="row">
            <span class="card-title col s12 center-align"><strong>{{ meal.vendor_meal.vendor.company_name }} - {{ meal.vendor_meal.meal_type }}</strong></span>
            <span class="col s12 center-align">{{ meal.vendor_meal.meal_type }} {{ meal.vendor_meal.meal_name }}: {{ meal.vendor_meal.meal_detail }}</span>
            <span class="col s3">$ {{ meal.vendor_meal.price }}</span>
            <span class="col s6 connect-qty-to-price"></span>
            <span class="col s3 right-align"> x {{ meal.quantity}}</span>
            <span class="col s3">Total: </span>
            <span class="col s6 connect-qty-to-price"></span>
            <span class="col s3 right-align"> $ {{ meal.vendor_meal.price|mul:meal.quantity}}</span>
          </div>
        </div>
        <form  method="post" action="{% url 'shopping_cart' %}">
          <div class="card-action right-align">
          <button type="submit" class="btn red accent-2 waves-effect waves-light" value="{{ meal.id }}" name="cancel">
            Cancel
          </button>
          </div>
          {% csrf_token %}
        </form>
      </div>
    </div>
  {% endfor %}


  <div class="row center align">
    <div class="col push-s7">

    <form action="{% url 'charge' %}" method="post">
      {% csrf_token %}
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ key }}"
              data-description="LotusPond"
              data-amount="{{totalCharge|mul:100}}"
              data-locale="en"></script>
      <script>
        // Hide default stripe button, be careful there if you
        // have more than 1 button of that class
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
      </script>
      <button type="submit" class="btn red accent-2 waves-effect waves-light">Checkout</button>
    </form>
      <!--<input type="submit" class="btn green waves-effect waves-light col-s6" value="Checkout">-->
    </div>
  </div>
{% endblock %}